<h2>Create New Landmark</h2>
<!--
@figures

figure.id -->


<form class="" action="/landmarks" method="POST">
  <p>
  Name: <input type="text" id="landmark_name" name="landmark[name]">
  </p>

  <p>
  Year Completed: <input type="text" id="landmark_year_completed" name="landmark[year_completed]">
  </p>

  <input type="submit" id="Create New Landmark" value="submit">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
